<div class="all-posts">
  <h3 class="window-title">
    <span><%= t :all_activity %></span>
    <%= link_to t(:subscribe_feed), micro_posts_feed_path, :id => 'feedrss' %>
  </h3>
  <%= render @micro_posts %>
  <div class="flickr_pagination">
    <%= will_paginate @micro_posts %>
  </div>
</div>
