<div class="all-posts">
  <h3>All posts(in microposts index)</h3>
  <%= link_to 'Refresh', micro_posts_refresh_path %>
  <%= render @micro_posts %>
  <div class="flickr_pagination">
    <%= will_paginate @micro_posts %>
  </div>
</div>
