<div class="tab-nav-frame">
  <ul class="tab-nav">
    <li><%= link_to t("entry.add_auto"), new_auto_entry_path, is_current?(:auto, current) %></li>
    <li><%= link_to t("entry.manual_add"), new_entry_path, is_current?(:manual, current) %></li>
  </ul>
</div>
