<div id="news-area">
    <h2 class="window-title"><%= t :latest_activity %></h2>
  <div id="post-list">
    <%= render @posts %>
  </div>
</div>
<div class="signin">
  <%= render 'shared/signin' %>
</div>
