<%= render 'home/tab_nav', :current => :update_log %>
<div id="history">
  <p>
    <%= sanitize history_content %>
  </p>
</div>
<%= render 'shared/disqus', :disqus_url => "http://codertrace.com/update_log" %>
