.popup {
  position: absolute;
  z-index: 200;
  left: 0px;
  top: 0px;
}

.round {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

.link-btn, a.link-btn {
  background: #3C8AE0;
  color: #ebebeb;
  padding: 4px 10px;
  font-size: 14px; 
  border: 1px solid #35649D;
  text-decoration: none;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}

.link-btn-small, a.link-btn-small {
  border: 1px solid #35649D;
  background: #3C8AE0;
  color: #ebebeb;
  padding: 2px 5px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}

.link-btn:hover, .link-btn-small:hover {
  background: #1676B8;
  cursor: pointer;
  color: white;
}

.link-btn-dark, a.link-btn-dark {
  background: #1676B8;
  color: #ebebeb;
  padding: 4px 10px;
  font-size: 14px; 
  border: 1px solid #35649D;
  text-decoration: none;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}

.link-btn-dark:hover {
  background: #3C8AE0;
  cursor: pointer;
  color: white;
}

.txt-ctrl {
  padding: 5px 3px;
  color: #333;
  font: 14px/14px 'Helvetica Neue',Helvetica,Arial,Sans-serif;
  border: 1px solid #CCC!important;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1) inset;
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1) inset;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1) inset;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
}

.formbody {
  padding: 10px 20px;
  background: #E9F1F4;
  border-style: solid;
  border-width: 1px 1px 2px;
  border-color: #E9F1F4 #D8DEE2 #D8DEE2;
  font-size: 110%;
  line-height: 20px;
}

.window-title {
  color: #eaeaea;
  background: #1676B8;
  padding: 5px 10px;
  margin: 10px 0;
  margin-bottom: 0;
  border: 1px solid #677c80;
}

.error, .alert, .notice, .success, .info { 
    padding: 0.8em; 
    margin-bottom: 1em; 
    border: 2px solid #ddd; 
}

.error, .alert { 
    background: #fbe3e4; 
    color: #8a1f11; 
    border-color: #fbc2c4; 
}

.notice { 
    background: #fff6bf; 
    color: #514721; 
    border-color: #ffd324; 
}

.success { 
    background: #e6efc2; 
    color: #264409; 
    border-color: #c6d880; 
}

.info { 
    background: #d5edf8; 
    color: #205791; 
    border-color: #92cae4; 
}

.gray {
  color: #666;
}

a.simple-link:link, a.simple-link:visited {
  text-decoration: underline;
  background: transparent;
  color: #0075B5;
  font-size: 110%;
}

a.simple-link:focus, a.simple-link:hover {
  color: #09f;
}
